@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    font-family: 'Press Start 2P', cursive;
    scroll-behavior: smooth;
    @apply text-mainLight;
    overflow-x: hidden;
}

body {
    background-image: url('images/bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @apply backdrop-blur-sm;
}

.full-screen {
    width: 100%;
    min-height: 100vh;
}

@layer utilities {
    /* Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: #637c9c #171819;
    }
    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 3px;
    }
    *::-webkit-scrollbar-track {
        background: #171819;
        border-radius: 0px;
    }
    *::-webkit-scrollbar-thumb {
        background-color: #637c9c;
        border-radius: 14px;
        border: 3px solid transparent;
    }
}

h1 {
    @apply text-xl sm:text-2xl s:text-3xl md:text-4xl m:text-5xl lg:text-6xl l:text-7xl xl:text-8xl text-green ;
}

.c-h4 {
    @apply text-sm sm:text-base s:text-lg m:text-xl l:text-2xl text-greenLight break-before-auto mb-2;
}

.c-h5 {
    @apply text-xs s:text-sm m:text-lg l:text-xl text-white break-before-auto mb-2;
}